__pycache__/

# temp files
.tmp_pipeline_ray/
.ray-configs/

# Environments
.env
.venv
env/
venv/

# Output and IDE config files
.idea/
.logs/
.vscode/
logs
split_logs/

# User specific variable
mako/variables/user.yaml
